
@{
    ViewData["Title"] = "Impressum";
}

<h1>Impressum</h1>
<p>
    Die Website www.BeAFreelancer.com ist ein Ojekt der Manu Digital GmbH, Tirol.<br /> die Manu Digital GmbH ist ein Unternehmen der ManuRep Media.
    <br />
</p>
<p class="bold">Manu Digital GmbH <br />Anichstraße 69 <br />6020 Innsbruck<br /></p>
<p class="bold">Tel: +43 (0)18 / 1 22 66 - 354</p>
<p class="bold">Fax: +43 (0)18 / 1 22 66 - 317</p>
<p>Email: info@bafr.com<br /</p>
<p>Geschäftsführung: Maneul Repetschnig (CEO)<br /> Verantwortlich i. S. v. §55 Manuel Repetsdchnig <br />Anichstraße 69, 6020 Innsbruck </p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />