
@{
    ViewData["Title"] = "WhatIsBAFR";
}
<section class="wibafrbg    ">
    <div class="gridWIBAFR">
        <div class="text-focus-in">
            <h1>What Is BeAFreelancer.com?</h1>
            <h5>
                BeAFreelancer.com ist eine Website, bei der man sich einen Benutzer anlegen kann und Dienstleistungen verkaufen kann.<br />Um einen Einblick zu bekommen, welche Art von Dienstleistungen bei usn anbeboten werden,
                werden wir hier ein paar beliebte "Genres auflisten:"
            </h5>
            <h5><b>Design:</b> Logos, Bilder, Slogans...</h5>
            <h5><b>Game-Design:</b>Character-Models,Game-Sprites,Audio,Special Effects...</h5>
            <h5><b>Teaching:</b>Courses, Lessons...</h5>
        </div>
    </div>

</section>
