
@{
    ViewData["Title"] = "Accountverwaltung";
}

<h1>Accountverwaltung</h1>

<table>
    <thead>
        <tr><td>Deine Accountdaten</td></tr>
    </thead>
    <tbody>
        <tr>
            <td>Benutzername</td>
            <td></td>
        </tr>
        <tr>
            <td>E-Mail-Adresse</td>
            <td></td>
        </tr>
        <tr>
        <td>Profilbild</td>

        </tr>


    </tbody>
    <tfoot>

        <tr><td>Account löschen?</td></tr>

    </tfoot>

</table>

