
@{
    ViewData["Title"] = "Accountverwaltung";
}

<h1>Account-Details</h1>

<table>
    <thead>
        <tr><td>Deine Accountdaten:</td></tr>
    </thead>
    <tbody>
        <tr>
            <td>Benutzername</td>
            <td></td>
        </tr>
        <tr>
            <td>E-Mail-Adresse</td>
            <td></td>
        </tr>
        <tr>
        <td>Vorname</td>
            <td></td>

        </tr>
        <tr>
            <td>Nachname</td>
            <td></td>
        </tr>
        <tr>
            <td>Geburtsdatum</td>
            <td></td>
        </tr>
        

    </tbody>
    <tfoot>

        <tr><td>FOOTER!!!</td></tr>

    </tfoot>

</table>

