@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "LoginSuccessfull";
}
<section class="banner">
    <div class="Background-Grid">
        <h3>LOGIN HAT FUNKTIONIERT (sry 4 caps)</h3>
    </div>
</section>

