
.topnav {
    background-color: #333;
    overflow: hidden;
}

  
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

     
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }



.banner {
    position: relative;
    width: 100%;
    height: 90vh;
    background:url('../Images/pexels-burst-374016.jpg') center no-repeat;
    background-size: cover;
}
footer {
   
    bottom:0px;
}

.botnav {
    background-color: #333;
    overflow: hidden;
    text-decoration: none;
}


    .botnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

.botnav a:hover {
    background-color: #ddd;
    color: black;
}
.bold {
    font-weight: bold;
}

.wibafrbg {
    position: relative;
    width: 100%;
    height: 90vh;
    background: url(../Images/pexels-pixabay-414645.jpg);
    background-size: cover;
 
}
   

    @-webkit-keyframes tracking-in-expand {
        0% {
        letter-spacing: -.5em;
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        opacity: 1
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -.5em;
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        opacity: 1
    }
}

.tracking-in-expand {
    text-align:center;
    -webkit-animation: tracking-in-expand 3s cubic-bezier(.215,.61,.355,1.000) both;
    animation: tracking-in-expand 3s cubic-bezier(.215,.61,.355,1.000) both
        
}
.text-focus-in {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -webkit-animation: text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;
    animation: text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;
        z-index:4;
}


@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
       
    }

    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0
    }

    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}













