/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*
*{
    border: 1px solid black;
}
    */

#container{
    width: 80%;
    min-width:800px;
    margin: 0px auto;
}

header{
    height: 200px;
    border-bottom: 1px solid #934a0a;
}

main{

}

nav{
    width: 15%;
    min-width: 150px;
    float: left;
    min-height: 500px;
    
    
}
nav ul{
    list-style-type: none;
    padding: 10px 0px 0px 10px;
}
footer ul {
    list-style-type: none;
    padding: 0px;
}

nav a:hover{
    text-decoration:none;
    font-weight:bold;
}
content {
    width: 65%;
    min-width: 450px;
    float: left;
    min-height: 500px;
    border-left: 1px solid #934a0a;
    border-right: 1px solid #934a0a;
    padding: 20px 10px 10px 10px;
}
aside {
    width: 20%;
    min-width: 200px;
    float: right;
    min-height: 500px;
}
footer {
    min-width: 40px;
    clear: both;
    border-top: 1px solid #934a0a;
    padding-top: 10px;
    text-align: right;
}
footer a:hover {
    text-decoration: none;
    font-weight: bold;
}
    footer a {
        padding-right: 20px;
        padding-left: 20px;
    }

.level1{

}
.level2{
    font-size: 85%;
    padding-left: 15px;
}

/*Alle Tabellen einheitlich formatieren*/
table {
    border: 1px solid black;
   
}
table td{
    padding: 5px;
}
thead{
   text-align: center;
   line-height:200%;
   font-weight: bold;
   background-color: #4cff00;
}
tfoot{
    font-size:80%;
    text-align:right;
    line-height:200%;  
    
}
tfoot tr td{
    padding-top:5px;
    padding-right: 10px;
}

