
@{
    ViewData["Title"] = "Impressum";
}



<table>
    <thead>
<tr>
    <td colspan="2">Impressum</td>
</tr>
    </thead>
    <tbody>
        <tr>
        <td>Name</td>
            <td>Manuel Repetschnig</td>
        </tr>
        <tr>
            <td>Email-Adresse</td>
            <td>mrepetschnig@tsn.at</td>
        </tr>

        

    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">Fußbereich der Tabelle</td>
        </tr>
    </tfoot>
</table>

