<ul>
    <li class="level1">
        <a asp-controller="home" asp-action="index">Startseite</a>
    </li>

    <li class="level1">
        <a asp-controller="home" asp-action="aboutUs">Über uns</a>
    </li>
    <li class="level1">
        <a asp-controller="home" asp-action="impressum">Impressum</a>
    </li>
    <li class="level1">
        <a asp-controller="shop" asp-action="index">Shop</a>
    </li>
    <li class="level2">
        <a asp-controller="shop" asp-action="refund">Rücksendungen</a>
        </li>

        <li class="level1">
            <a asp-controller="user" asp-action="index">User</a>
        </li>
        <li class="level2">
            <a asp-controller="user" asp-action="register">Register</a>
        </li>
        <li class="level2">
            <a asp-controller="user" asp-action="login">Login</a>
            </li>
s
</ul>