
<div class="topnav">
    <a asp-controller="home" asp-action="Index" style="text-decoration:none;">Home</a>
    <a asp-controller="home" asp-action="WhatIsBAFR" style="text-decoration:none;">What is "Be a Freelancer"?</a>
    <a asp-controller="home" asp-action="GettingStarted" style="text-decoration:none;">Getting Started</a>
    <a asp-controller="shop" asp-action="Index" style="text-decoration:none;">Shop</a>
</div>

